.fonts {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: darkcyan;
}

.memofonts {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: darkcyan;
    margin-top: 14px;
}

.memotitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgb(107, 94, 34);
    margin-top: 14px;
    text-shadow: 50px;
}
nav{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    }
    li {
    padding: 15px;
    }
    
    #logo{
    width:50px;
    height:50px;
    margin-left: 35px
    }

.colory{
opacity: inherit;
}


.rotate75m {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
    border: 5px;
    border-radius: 15px;
    border-bottom-color: rgba(38, 0, 177, 0.473);
    border-right-color: rgba(177, 0, 38, 0.473);
    border-top-color: rgba(201, 142, 160, 0.473);
    border-left-color: rgba(167, 159, 194, 0.616);
    border-style: inset;

}

.rotate75 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(7deg);
    border: 5px;
    border-radius: 15px;
    border-bottom-color: rgba(38, 0, 177, 0.473);
    border-right-color: rgba(177, 0, 38, 0.473);
    border-top-color: rgba(201, 142, 160, 0.473);
    border-left-color: rgba(167, 159, 194, 0.616);
    border-style: inset;

}
